.main-nav {
  padding-left: 20px;
  min-height: 70px;
}

.navbar-toggler {
  display: none;
}

.nav-logo-text h4 {
  color: #000;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.015em;
  text-align: left;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 380px;
  justify-content: space-between;
}

.main-menu a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
}

.main-menu a.active {
  font-weight: bold;
  color: #fff;
}

.main-menu a:hover {
  color: #fff;
}

.nav-logout {
  color: #000;
  border: 2px solid black;
  border-radius: 4px;
  min-width: 100px;
}

.nav-logout a {
  padding-left: 32px;
  font-weight: 700;
  font-size: 14px;
  font-family: Open Sans;
  text-align: center;
}
