.home-container {
  margin: 15px 10px;
}

.home-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 465px;
  background-color: #6c6c6c;
  border-radius: 4px;
}

.home-login-container h1 {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

.home-login-container p {
  width: 260px;
  color: #9e9e9e;
  font-size: 0.6em;
  margin-bottom: 30px;
}

.home-image-container {
  display: none;
}

.login-container {
  padding-top: 190px;
  width: 100%;
}

.login-box form {
  margin-top: 30px;
}

.input-box {
  width: 264.14px;
  height: 47px;
  border-radius: 4px;
  border: 1px;
}

.login-submit {
  margin-top: 50px;
}

@media (min-width: 576px) {
  .home-container {
    width: 479px;
    height: 573px;
    margin-left: 50px;
    margin-top: 30px;
  }

  .home-login-container {
    width: 479px;
    height: 573px;
  }

  .home-login-container ButtonIcon {
    margin-top: 120px;
  }

  .home-login-container h1 {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .input-box {
    width: 384px;
    height: 46.88px;
    margin-bottom: 25px;
  }

  .login-submit {
    margin-top: 70px;
  }

  .login-box form {
    padding-left: 45px;
  }
}

@media (min-width: 768px) {
  .home-container {
    margin-left: 145px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
  }

  .home-login-container {
    min-width: 479px;
    height: 573px;
    margin-left: 150px;
  }

  .home-image-container {
    display: flex;
    flex-direction: column;
    width: 397px;
    height: 460px;
    margin-top: 50px;
  }

  .home-image-container h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -0.015em;
    text-align: left;
    margin-left: 30px;
  }

  .home-image-container p {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
    color: #f2f2f2;
  }

  .home-image-container svg {
    width: 381.89px;
    height: 264.94px;
    top: 195.06px;
    margin-top: 50px;
  }

  .login-box {
    width: 100%;
  }
  .login-container {
    padding-top: 250px;
    padding-left: 45px;
    width: 100%;
  }
}
