.review-card {
  border-radius: 4px;
  border: 1px;
}

.username-container {
  display: flex;
  width: 90%;
  height: 50px;
  border-radius: 4px;
  margin-top: 23px;
  margin-left: 16px;
}

.img-container {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.name-container {
  text-align: center;
}

.name-container h4 {
  padding-top: 5px;
}

.review-text-container {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.015em;
  text-align: justify;
  border: 1px solid #E1E1E1;
  padding: 5px;
  color: #9E9E9E;
  margin: 0px 10px;
  justify-content: left;
  border-radius: 4px;
}

.review-text-container p {
   padding: 5px;
  }
